@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #2c2b2c, #a8a0a0);
    background-image: url(imagens/fundo\ body.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 300px;
    height: 400px;
    margin: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;

}
h1{
    text-align: center;
    padding: 20px;
}
label{
   padding: 5px;
   font-family: Arial, Helvetica, sans-serif;
}
input{ 
   border: none;
   border-radius: 10px;
   padding: 5px;
}
button{
    margin: 40px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    
}
a{
    text-decoration: none;
    color: white;
}
@media (max-width:390px){
    .container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 300px;
    height: 400px;
    margin: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;}
}
@media (max-width:600px){
    .container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 300px;
    height: 400px;
    margin: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;}
}
    